body {
    direction: rtl;
    height: 900px;
    background-color:linen;
}

#container {
    width: 900px;
    margin: 0 auto;
    border: 3px solid black;
    height: 900px;
}

.header {
    height: 150px;
    background-color: lightblue;
}
.f-l {
    float: left;
}

.logo {
    float: right;
}

    .logo img {
        height: 100px;
        width: 100px;
        border: 3px solid #333;    
        margin-top: 20px;
        margin-right: 20px;
    }


    .header .tilte {
    width: 773px;
}

    .header .tilte h1 {
        text-align: center;
        margin-top: 50px;
        padding-right:10px;
    }


ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    ul.navbar li {
        width: 225px;
        height: 50px;
        text-align: center;
        float: right;
        background-color: lightgray;
    }

    ul.navbar li:hover {
            background-color: aquamarine;
        }

     ul.navbar li a {
         display: block;
         margin-top: 10px;
         color: black;
      }

p.about {
    font-size: 20px;
    color:rebeccapurple;
    padding-right: 10px;
    background-color:lightcyan;
}

p.accoupation{

    font-size:20px;
    color:rebeccapurple;
    padding-right:10px;
    background-color:lightcyan;

}
p.hobbies{

    font-size:20PX;
    color:rebeccapurple;
    padding-right:10PX;
    background-color:lightcyan;

}
p.education{

    font-size:20px;
    color:rebeccapurple;
    padding-right:10px;
    background-color:lightcyan;
}

.logogmfa img {
        height: 100px;
        width: 100px;   
        margin-top: 20px;
        margin-right: 20px;
    }
div.logogmfa :hover{
-moz-transform: scale(2) rotate(3deg) translateX(5px) translateY(3px) skewX(3deg) skewY(5deg);
-webkit-transform: scale(2) rotate(3deg) translateX(5px) translateY(3px) skewX(3deg) skewY(5deg);
-o-transform: scale(2) rotate(3deg) translateX(5px) translateY(3px) skewX(3deg) skewY(5deg);
-ms-transform: scale(2) rotate(3deg) translateX(5px) translateY(3px) skewX(3deg) skewY(5deg);
transform: scale(2) rotate(3deg) translateX(5px) translateY(3px) skewX(3deg) skewY(5deg);
Copy
Randy Jensen

}
